<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>A Reusable HTML5 Contact Form Template - reusable form</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='beautiful.css') }}" >
        
    </head>
    <body >
        <header>
            {% include 'session.html' %}
        </header>
        <div class="container">
            <div class="imagebg"></div>
            <div class="container">
                <div class="form-container z-depth-5">
                    <h3>GESTION PROJET</h3> 
                    <div class="row">
                        <form class="col s12" enctype="multipart/form-data" id="reused_form" method="POST" >
                            <div class="row">
                                <div class="input-field col s12">
                                    <label for="namechefprojet">CHEF DU PROJET</label> <br>
                                    <input id="namechefprojet" type="text" name="namechefprojet" required class="validate">
                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <label for="descproj">description du projet </label> <br>
                                    <input id="descproj" type="text" name="descproj" required class="validate">                                   
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="date" type="date" name="date" required class="validate">
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12">    
                                    <input type="file" id="files" name="files" required  /> <br><br>    
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">    
                                    <input type="file" id="files1" name="files1" required  /> <br><br>    
                                </div>
                            </div>
                            
                            <div>
                                <button class="waves-effect waves-light btn submitbtn" type="submit">Submit</button>
                            </div>
                        </form>
                        <div id="error_message" style="width:100%; height:100%; display:none; ">
                            <h4>
                                Error
                            </h4>
                            Sorry there was an error sending your form. 
                        </div>
                        <div id="success_message" style="width:100%; height:100%; display:none; ">
                            <h4>
                                Success! Your Message was Sent Successfully.
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <!--Import jQuery before materialize.js-->

        </div>
    </body>
</html>